/* ********************* Blog-Header*********************************** */
#blogHeader{
    background-image: url('/assets/blog-header-3.avif');
    max-height: 200px;
    min-height: 200px; 
}
.blog-title{
    max-height: 200px;
    min-height: 200px;
}
.blog-title h1{
    color: #ffffff;
    font-weight: 600;
}
/* **********************Blog-Navigation*************************** */
.blog-navigation{
    margin-top: 1.6rem;
}
.blog-navigation a{
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 1rem;
}
.blog-navigation a:hover{
    color: #212529;
}
/* ***********************Blog-section**************************************** */
.blog-image{
    margin: 1rem auto;
    display: block;
    justify-content: center;
}
.blog-image img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.author p{
    color: #af9b9e;
    font-size: 1rem;
}
.author span{
    color: #222;
    cursor: pointer;
    font-weight: 500;
}
.author span:hover{
    color: #2a826e
}
/* ********************** */
.blog-section{
    margin-bottom: 2rem;
}
.contents{
    background-color: #fcfcfc;
    border: none;
}
#unfold{
    display: none;
    width: 95%;
    margin: .5rem auto .5rem auto;
}

#unfold a{
    margin: .3rem;
    font-weight: 650;
    font-size: .9rem;
    display: block;
    text-decoration: none;
    color: #222;
}
@media(max-width:550px){
    #unfold a{
        border-bottom: .1px solid #e4dddd;
        font-size: .8rem;
    }
}
#unfold a:hover{
   color: #177761;
   font-size: .95rem;
   transition: all .4s ease;
}
.contents a{
    color: #222;
    text-decoration: none;
    font-weight: 600;
}
.contents a:hover{
    text-decoration: none;
    color: #222;
}
.review{
    margin-bottom: 3rem;
}
.review-box{
    background-color: #fcfcfc;
    padding: 1rem;
}
.contents button{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid #ece7e7;
    background-color: transparent;
    padding: .5rem;
    font-weight: 600;
}
/* **************Blog-Content*************** */
.blog-content{
    margin-bottom: 3.2rem;
    background-color: #fcfcfc;
}
.write-blog{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'Montserrat', sans-serif;
}
.write-blog ol{
    list-style-type: disc;
    font-weight: 500;
    margin: 1rem auto;
}
.write-blog ol li{
   margin: .6rem auto;
   font-size: 1.2rem;
   color: #2b2b33;
}
.write-blog ul{
    list-style-type: disc;
    font-weight: 500;
    margin: 1rem auto;
}
.write-blog ul li{
   margin: .6rem auto;
   font-size: 1.2rem;
   color: #2b2b33;
}
.write-blog img{
    display: block;
    margin: auto;
    width: 80%;
    object-fit: contain;
}
.write-blog p{
    font-family: 'Montserrat', sans-serif;
    color: #2b2b33;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 1.38;
    letter-spacing: .3px;
    margin-bottom: 1rem;
}
.write-blog h2{
    font-size: 1.62rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #000;
}
.write-blog h3{
    font-size: 1.55rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #000;
    
}
.write-blog h4{
    margin: 1.4rem auto .6rem auto;
    font-size: 1.2rem;
    color: #000;
}
@media(max-width:600px){
    .write-blog img{
        width: 90%;
    }
    .write-blog p{
        font-size: 1.25rem;
        line-height: 1.3;
        letter-spacing: .4px;
    }
    .write-blog h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        color: #000;
        border: 2px solid red;
    }
    .write-blog h3{
        font-size: 1.34rem;
        border: 2px solid black;
        
    }
    .write-blog h4{
        font-size: 1.15rem;
        border: 2px solid pink;
    }
    .write-blog ol li{
        font-size: 1.1rem;
     }
     .write-blog ul li{
        font-size: 1.1rem;
     }
}

/* **************author**************** */
.author-box{
    margin-bottom: 2rem;
}
.author-box span{
    margin-right: 1rem;
    display: block;
    margin-top: 1.2rem;
    margin-left: 2rem;
    font-weight: 600;
    cursor: pointer;
}
.author-box span:hover {
   color: #177761;
}
.author-box .image{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.author-box .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.blog-box .card {
    background-color: #fcfcfc !important;
    border: none !important;
}

.blog-box .card-header {
    padding: 0.75rem 0.5rem !important;
    background-color: #fcfcfc !important;
    border: none !important;
}
.blog-box .list-group li a {
    color: #232f3e !important;
    font-size: 14px !important;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* *********************related articles********************* */
.article{
    background-color: #fafbfb;
    padding: 4rem 0rem;
}
.related-article h2{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    color: #000;
}
.related-article .article-box{
    margin-bottom: 1.8rem;
}
 .article-item img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
    aspect-ratio: 4/2;
}
.article-item a{
    text-decoration: none;
}
.article-box .article-item a h3{
    margin: 0.6rem 0rem;
    letter-spacing: .2px;
    font-size: 1.2rem;
    color: #222;
    font-weight: 600;
}
.article-item .full-story{
    text-decoration: none;
    font-weight: 500;
    padding: .5rem 0rem;
    display: inline-block;
    font-size: .95rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}
.article-item .full-story i{
    margin-left: .5rem;
    font-weight: 600;
}
@media(max-width:992px){
    .article-box .article-item{
        border-bottom: 1px solid #e6e5e5;
        padding-bottom: 1rem;
    }
}
@media(max-width:768px){
    .article-item img{
        max-width: 80%;
    }
}
/* *********************Related reviews*********************** */
.product-review{
    padding: 2.6rem 0rem;
}
.product-review h2{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    color: #000;
}

.product-review .product-box{
    margin-bottom: 1.4rem;
}
.product-item{
    box-shadow: -5px 5px 10px #d9d8d8;
    padding: .4rem;
}
.product-item a{
    display: block;
    margin: auto;
    text-decoration: none;
}
.product-item .review-logo{
    max-width: 100%;
    margin: 0 auto .5rem auto;
    display: block;
    object-fit: contain;
    aspect-ratio: 3/1;
    border: 1px solid #dfdcdc;
}
.product-item .review-title{
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    padding: .5rem 0rem;
}
/* ***************Related Coupons***************** */
.latest-deal h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    color: #000;
}