@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Frank+Ruhl+Libre:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


section {
    font-family: "Cormorant Garamond", serif;
}
header{
    background-color: #fff;
}
section .container {
    max-width: 1300px;
}
.reviewHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reviewHeader .headerTags .date{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #ababab;
    text-decoration: none;
    font-size: .82rem;
    display: flex;
    gap: 10px;
    letter-spacing: .6px;
}
.reviewHeader  h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    margin-bottom: 1rem;
}
.reviewHeader .author{
    margin-bottom: 1rem;
}

.reviewHeader .headerTags a{
    color: #000;
    font-family: "Cormorant Garamond", serif;
    font-weight: 800;
    font-size: 1.4rem;
}

.review-box{
    background-color: transparent !important;
    padding: 0 !important;
}
.listCoupns .review_logo{
width: 200px;
display: flex;
align-items: center;
}
.listCoupns .review_logo img{
    object-fit: contain;
    width: 200px;
 
    max-width: 100%;
}
.coupnBox .couponBtn{
    width:400px;
    padding: 1rem;
    border-left: 1px dashed #d1d1d1;
    text-align: center;

}
.listCoupns .coupon-item .coupnBox .couponBtn button, .listCoupns .coupon-item .coupnBox .couponBtndesc button{
    width: 100%;
    margin-right: 0;
    
}
.listCoupns .coupon-item .coupnBox .coupondesc p a{
    font-family: "Cormorant Garamond", serif;
    padding-right: 1rem;
  }
  .cat_name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: #247e6a;
    margin-bottom: 1rem;

  }
    .cat_name::before{
     content: '';
    width: 30px;
    height: 1px;
    display: block;
    background-color: #247e6a;
    margin-right: 15px;

  }
  .cat_name::after{
    content: '';
    width: 30px;
    height: 1px;
    display: block;
    background-color: #247e6a;
    margin-left: 15px;
  }
 
    .cat_name a{
    color: #247e6a;
    font-size: .85rem;
    letter-spacing: .6px;
    text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .affidis{
    background-color: #247e6a18;
    padding: 1rem;
   
  }
 .affidis h2{
   font-size: 1.6rem;
   text-align: center;
   font-weight: 600;
  }
   .affidis p{
   font-size: 1.4rem;
   text-align: center;
   line-height: 1.4;
  }
  aside{
   position: sticky;
   top: 0;
   height: 100vh;
   min-height: fit-content;
   background-color: #fff;
  }
  aside .review-item{
    margin-bottom: .6rem;
  }
 @media(min-width: 991px){
    .d-lg-none{
        display: none;
    }
 }
  @media(max-width: 600px){
    .reviewHeader .container h1 {
    font-size: 16px;
    line-height: 1.2;
}
  }
